<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/publisheradd" routerLinkActive="active" class="nav-link"
        ><b>Add Publishers</b></a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/adminpubinfolist" routerLinkActive="active" class="nav-link"
        ><b>Publisher Info</b></a
      >
    </li>
  </ul>
</nav>
<div class="container">
  <table *ngIf="!selectedPublisherId" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>COUNTRY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publisher of publishers">
        <td>{{ publisher.id }}</td>
        <td>{{ publisher.name }}</td>
        <td>{{ publisher.city }}</td>
        <td>{{ publisher.state }}</td>
        <td>{{ publisher.country }}</td>
        <button
          type="button"
          class="btn btn-warning"
          (click)="
            viewUpdate(
              publisher.id,
              publisher.name,
              publisher.city,
              publisher.state,
              publisher.country
            )
          "
        >
          UPDATE
        </button>
      </tr>
    </tbody>
  </table>
</div>
