<div>
    <h1>Search Employees by Publisher ID</h1>
    <form>
      <input type="text" placeholder="Enter Publisher ID" name="pubId" [(ngModel)]="pubId">
      <button type="button" class="btn btn-success" (click)="getEmployeesByPubId()">Search</button>
    </form>
  </div>
 
  <div *ngIf="employees">
    <div *ngFor="let employee of employees">
      <p>ID: {{employee.id}}</p>
      <p>First Name: {{employee.firstName}}</p>
      <p>MIDDLEINITIAL: {{employee.middleInitial}}</p>
      <p>lastName: {{employee.lastName}}</p>
      <p>job id: {{employee.job.id}}</p>
      <p>job.minLevel: {{employee.job.minLevel}}</p>
      <p>job.minLevel: {{employee.job.maxLevel}}</p>
      <p>publisher.id: {{employee.publisher.id}}</p>
      <p>hireDate: {{employee.hireDate}}</p>
      <button type="button" class="btn btn-warning" (click)="viewAll()">Back</button>
    </div>
  </div>