<header>
    <div class="logo-container">
      <img style="margin-left: 12px" src="assets/images/logo.jpg" alt="Logo" />
    </div>
    <nav>
      <ul>
        <li><a routerLink="/adminList">Titles</a></li>
        <li><a routerLink="/addTitle">Add Title</a></li>
        <li><a routerLink="/publisherlistadmin">Add Publishers</a></li>
        <li><a routerLink="/authorsadd">Add Authors</a></li>
        <li><a routerLink="/storesadd">Add Stores</a></li>
        <li><a routerLink="/addsale">Add Sales</a></li>
        <li><a routerLink="/jobsadd">Add Jobs</a></li>
        <li><a routerLink="/addEmployee">Add Employee</a></li>
      </ul>
    </nav>
    <div class="logout-container">
      <button type="button" class="logout-button" (click)="logout()">
        Logout
      </button>
    </div>
  </header>
  