/* login.component.css */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 480px;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px; 
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.2;
    color: #333;
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button,
  .form-group .register-button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button {
    background-color: #4caf50;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .form-group .register-button {
    background-color: #2196F3;
    color: #fff;
  }
  