<h2>Search By NAME</h2>
 
<div>
    <form>
        <input type="text" placeholder="Search Publisher Name" name="name" [(ngModel)]="name">
        <button type="button" class="btn btn-success" (click)="getPublishersByName()">Search</button>
    </form>
</div>
 
 
<div *ngIf="selectedPublisherName">
    <div *ngFor="let Publisher of selectedPublisherName">
        <p>ID:{{Publisher.id}}</p>
    <p>NAME:{{Publisher.name}}</p>
    <p>CITY:{{Publisher.city}}</p>
    <p>COUNTRY:{{Publisher.country}}</p>
    <p>STATE:{{Publisher.state}}</p>
    <button type="button" class="btn btn-warning" (click)="viewAll()">Back</button>
    </div>
   
</div>