.title-details {
  background-color: white;
  opacity: 0.9;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

.back-button {
  position: absolute;
  margin-top: 30px;
  margin-left: 40px;
  font-size: large;
}

.update-button {
  position: absolute;
  top: 75px;
  right: 50px;
  cursor: pointer;
  padding: 10px;
  background-color: #3a5f7c;
  color: white;
  border: none;
  border-radius: 5px;
}

.title-info {
  margin-top: 60px; /* Adjust the margin as needed */
}

.details {
  display: flex;
}

.image-container {
  margin-right: 20px;
  overflow: hidden;
  max-height: 400px;
  max-width: 300px; /* Adjust the maximum width as needed */
}

.image-container img {
  height: 100%; /* Make sure the image takes the full height of the container */
  width: 100%; /* Make sure the image takes the full width of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
