<div>
    <h1>Sales Details</h1>
    <form>
        <input type="text" placeholder="Enter Store Id" name="storeId" [(ngModel)]="storeId">
        <button type="button" class="btn btn-success" (click)="filterByStoreId()">Search</button>
    </form>
</div>
 
<div *ngIf="selectedOrderDate && selectedOrderDate.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Store ID</th>
          <th>Order Number</th>
          <th>Order Date</th>
          <th>Quantity</th>
          <th>Payment Terms</th>
          <th>Title ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of selectedOrderDate">
          <td>{{ sale.store?.id }}</td>
          <td>{{ sale.orderNumber }}</td>
          <td>{{ sale.orderDate }}</td>
          <td>{{ sale.qty }}</td>
          <td>{{ sale.payterms }}</td>
          <td>{{ sale.title?.id }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-warning" (click)="dateViewAll()">Back</button>
  </div>
 